.recevie-infor {
    height: 58px;
    background-color: #222;
    display: flex;
}

.recevie-infor  a{
    margin: auto;
   font-size: 1.4rem;
   color: #a2a19f;
   font-weight: 500;
   line-height: 1.8rem;
   letter-spacing: 0.3px;
}

.header {
    /* height: 550px; */
    background-color: var(--black-color);
}

.navbar {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
}
.narbar__logo-img {
    color: var(--white-color);
    margin-right: 157px;
    cursor: pointer;
}
 
.navbar-list {
    display: flex;
    list-style: none;
    padding-left: 0;
   
   
}
.navbar-list-center {
    position: relative;
   
}
.navbar-item {
    height: 43px;
    color: var(--white-color);
    font-size: 1.6rem;
    padding: 0 15px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: relative;
    cursor: default;
   
}
.navbar-item--active-hover:hover {
    cursor: pointer;
    color: #717171;
}
.navbar-item:hover.navbar-item--active-hover::before{
    display: block;
}
.navbar-item--active-hover::before {
    content: "";
    display: block;
    border-bottom: 2px solid var(--white-color);
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: 100%;
    display: none;
   
}

.navbar-item--active::before {
    content: "";
    display: block;
    border-bottom: 2px solid var(--white-color);
    width: 16px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.navbar-item-login {
    margin: 0 -15px;
}

.navbar-item__icon {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 100%;
    margin: 0 8px;
}
.navbar-item__icon:hover {
    background-color: #333;
    cursor: pointer;
}

.navbar-item__link:hover {
    background-color: #333;
}
.navbar-item__link {
    height: 40px;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
    border-radius: 40px;
    padding: 0 10px;
   

}

.navbar-item__icon-globe {
    font-size: 1.5rem;
}

.navbar-item__logo {
    background-color: var(--white-color);
    color: var(--text-color);
    width: 78px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 1px solid #e1e1e1;
}
.navbar-item__logo::after {
    content: "";
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    top: 100%;
    /* background-color: #ff385c; */
    
}
.navbar-item__logo:hover .navbar-item-login-menu {
    display: block;
}

.navbar-item__logo-icon-list {
    font-size: 1.6rem;
    margin-left: 15px;
   
}
.navbar-item__logo-icon-user {
    font-size: 3rem;
    color: #717171;
    margin-right: 5px;
}

/* search */

.header-search {
    width: 852px;
    position: absolute;
    display: flex;
    background-color: var(--white-color);
    top: calc(100% + 24px);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 40px;
    border: 1px solid #e1e1e1;
}
.header-search__location {
    width: 271px;
    padding-left: 32px;
  
}
.header-search--line {
    position: relative;
}
.header-search--line::after{
    content: "";
    display: block;
    height: 35px;
    border-right: 0.5px solid #eaeaea;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.header-search--hover {
    border-radius: 40px;
}
.header-search--hover:hover {
    background-color: #eaeaea;
    cursor: pointer;
}

.header-search--hover:hover .header-search__location-input {
    background-color: #eaeaea;
}

.header-search__heading {
    font-size: 1.2rem;
    margin: 0;
    padding: 15px 0 2px;
    font-weight: 500;

}
.header-search__location-input {
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0;
    font-weight: 300;

}


.header-search__room {
    width: 180px;
    padding-left: 25px;

}

.header-search__more {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-bottom: 12px;
    display: block;
    font-weight: 300;

}

.header-search__guest {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 25px;
   
}
.header-search__icon {
    height: 50px;
    padding-right: 10px;
}
.header-search__icon-btn {
    outline: none;
    border: none;
    height: 100%;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    background-color: #ff385c;
    color: var(--white-color); 
    font-size: 1.6rem;
   
}
.header-search__icon-btn:hover {
    background-color:  rgb(215, 4, 102);
    cursor: pointer;
}

.navbar-header {
    margin-top: 33px;
    height: 415px;
    background-repeat: no-repeat;
    background-size: 1458px;
    background-position: center;
   
}

.header-slogan {
    font-size: 3rem;
    color: var(--white-color);
    text-align: center;
    font-weight: 300;
    padding: 50px 0;
    margin: 0;
}

/* login menu */

.navbar-item-login-menu {
    list-style: none;
    width: 242px;
    position: absolute;
    top: calc(100% + 11px);
    right: 0;
    padding-left: 0;
    background-color: var(--white-color);
    border-radius: 15px;
    overflow: hidden;
    display: none;
}


.navbar-item-login-menu__item:first-child{
    padding-top: 5px ;

   
}
.navbar-item-login-menu__item:last-child{
    padding-bottom: 5px ; 
}

.navbar-item-login-menu__item:nth-child(2) {
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
}
.navbar-item-login-menu__item:nth-child(3) {
    padding-top: 5px;
}

.navbar-item-login-menu__item-link {
    display: block;
    width: 100%;
    padding: 15px ;
    font-size: 1.4rem;
    font-weight: 300;
    color: #343434;
    
}
.navbar-item-login-menu__item-link--active {
    font-weight: 500;
    color: var(--black-color);
}

.navbar-item-login-menu__item-link:hover {
    background-color: #eaeaea;
}

/* discover city */

.discover-near-groups__city {
    display: flex;
    margin-bottom: 18px;
    text-decoration: none;
    color: var(--black-color);
}
.discover-near-groups__city-img {
    width: 64px;
    border-radius: 8px;
}
.discover-near-groups__city-infor {
    font-size: 1.6rem;
    margin-left: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.discover-near-groups__city-name {
    margin: 0 0 10px;
    font-weight: 500;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
     /* text-overflow: ellipsis;
    white-space: nowrap; */
    
}
.discover-near-groups__city-time {
    font-weight: 300;
}

/* location */
.location {
    text-decoration: none;
    color: var(--black-color);
}
.location-img {
    width: 328px;
    border-radius: 8px;
}


/* host */
.host {
    margin-top: 68px;
    position: relative;
}
.host-img {
    width: 1354px;
    height: 480px;
    border-radius: 16px;
   
}
.host-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 384px;
    height: 480px;
    position: absolute;
    color: var(--white-color);
    top: 0;
    left: 80px;
    

}
.host-detail__title {
    font-size: 4.8rem;
    line-height: 4.8rem;
    margin: 0;
}
.host-detail__slogan {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin: 18px 0 44px;
}
.host-detail__btn {
    width: 158px;
    height: 48px;
    font-size: 1.6rem;
    border-radius: 8px;
    background-color: var(--white-color);
    outline: none;
    cursor: pointer;
    border: 1px solid var(--white-color);
}

/* experience */
.experience-intro {
    font-size: 2.6rem;
    color: #222;
    font-weight: 300;
   
}
.experience-title {
    margin-bottom: 22px;
}
.experience {
   text-decoration: none;
   color: var(--black-color);
}
.experience-img {
    width: 442px;
    margin-top: 24px;
    border-radius: 8px;
}
.experience-info {
    font-size: 1.8rem;
}
.experience-info__slogan {
    display: block;
    font-size: 1.4rem;
    margin-top: 8px;
    font-weight: 300;
}

/* footer */
.footer {
    background-color: #f7f7f7;
    margin-top: 74px;
    border: 1px solid #e9e9e9;
}
.grid__header {
    margin: 45px 0 20px;
    font-size: 1.4rem;
    font-weight: 500;
}
.grid-list {
    padding-left: 0;
    list-style: none;
    
}

.grid-item__link {
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 20px;
    color: #222;
    font-weight: 300;
    
}

.grid-item__link:hover {
    color: var(--white-color);
}

/* footer bottom */
.footer-bottom {
    border-top: 1px solid #e5e5e5;
    margin-top: 30px;
}
.footer-bottom-wrap {
    display: flex;
    justify-content: space-between;
}
.footer-bottom-list {
    display: flex;
    list-style: none;
    margin: 25px 0;
    padding-left: 0;
    font-size: 1.5rem;
    
}

.footer-bottom__copyright {
    padding-right: 20px;
    font-weight: 300;

}
.footer-bottom-item__link {
    text-decoration: none;
    display: block;
    padding-right: 20px;
    color: #222;
    font-weight: 300;
}
.footer-bottom-item__link:hover {
    opacity: 0.9;
    text-decoration: underline;
}


.footer-bottom-list-contact__link {
    text-decoration: none;
    display: block;
    padding-left: 20px;
    color: #222;
    font-weight: 500;
}

.footer-bottom-list-contact__link:hover {
    opacity: 0.9;
}
.underline {
    text-decoration: underline;
}
.footer-bottom-list-contact__link span:first-child {
    padding-right: 7px;
    
    
}
.footer-bottom-list-contact__globe {
    font-size: 1.6rem;
    padding-right: 5px;
}

.footer-bottom-list-contact__link-icon {
    padding-left: 10px;
    font-size: 1.9rem;
}
.footer-bottom-list-contact__link-icon-fa {
    margin-left: 28px;
}


